body {
    background-image: url(https://avatars.mds.yandex.net/i?id=8ffc0c56acbdd065bb122c48a874965379797371-4575491-images-thumbs&n=13);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
}